* {
    color: rgba(23, 21, 21, 0.909);
}

h1,
h2,
h3 {
    text-align: center;
}

#container {
    margin: 0 auto;
    margin-bottom: 80px;
    width: 480px;
}

#course {
    margin-bottom: 0.5em;
}
#code {
    font-size: 100%;
    margin-bottom: 2em;
}

#container p {
    margin: 0.5rem auto;
}

#grouping {
    border: 1px solid slategray;
    background-color: rgba(0, 191, 255, 0.287);
    border-radius: 6px;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    padding-bottom: 10px;
    text-align: center;
}

#group {
    font-size: 300%;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

#inputform {
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type="text"] {
    padding: 3px 5px;
    line-height: 18px;
}

table {
    margin: 10px auto;
}

table {
    width: 400px;
    text-align: center;
    border-collapse: collapse;
}

th {
    padding: 10px;
    border-bottom: solid 2px #748ca5;
}

td {
    padding: 10px;
    border-bottom: solid 1px #748ca5;
}

.my-group td:nth-child(1),
.my-group td:nth-child(2) {
    background-color: rgba(0, 191, 255, 0.287);
}

#final-note {
    margin-top: 50px;
}
#final-note li::marker {
    content: "💡 ";
    font-size: 1.2em;
}




.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 4px;

    border-left-color: #f0ad4e;
    background-color: #fefbed;
}

.callout h4 {
    font-size: 110%;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 5px;
    color: #f0ad4e;
}
