#container {
    text-align: center;
    margin: 0 auto;
}

table {
    margin: 10px auto;
}

#inputform {
    margin-top: 30px;
    margin-bottom: 30px;
}
#group {
    font-size: 300%;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
